<?xml version="1.0"?> 
<configuration>
  <startup>
    <supportedRuntime version="v4.0.30319"/>
  </startup>
  <appSettings>
    <add key="add-ins" value="Mono.DuctileSharp.AddIn, Mono.DuctileSharp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1b947822772207a0"/>
  </appSettings>
</configuration>

